<a href="https://colab.research.google.com/github/samirlenka/pandas_exercises/blob/master/05_Merge/Auto_MPG/Exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# MPG Cars

### Introduction:

The following exercise utilizes data from [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Auto+MPG)

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the first dataset [cars1](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv) and [cars2](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv).

   ### Step 3. Assign each to a variable called cars1 and cars2

In [2]:
cars1 = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv')
cars2 = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv')
cars1.head(5)
cars2.head(5)

    mpg  cylinders  displacement  ... model  origin                 car
0  33.0          4            91  ...    76       3         honda civic
1  20.0          6           225  ...    76       1      dodge aspen se
2  18.0          6           250  ...    76       1   ford granada ghia
3  18.5          6           250  ...    76       1  pontiac ventura sj
4  17.5          6           258  ...    76       1       amc pacer d/l

[5 rows x 9 columns]

### Step 4. Oops, it seems our first dataset has some unnamed blank columns, fix cars1

In [3]:
cars1 = cars1.loc[:, 'mpg':'car']
cars1.head(5)

    mpg  cylinders  displacement  ... model  origin                        car
0  18.0          8           307  ...    70       1  chevrolet chevelle malibu
1  15.0          8           350  ...    70       1          buick skylark 320
2  18.0          8           318  ...    70       1         plymouth satellite
3  16.0          8           304  ...    70       1              amc rebel sst
4  17.0          8           302  ...    70       1                ford torino

[5 rows x 9 columns]

### Step 5. What is the number of observations in each dataset?

In [4]:
display(cars1.shape)
print(cars2.shape)
cars2.tail(5)

(198, 9)

(200, 9)

      mpg  cylinders  displacement  ... model  origin              car
195  27.0          4           140  ...    82       1  ford mustang gl
196  44.0          4            97  ...    82       2        vw pickup
197  32.0          4           135  ...    82       1    dodge rampage
198  28.0          4           120  ...    82       1      ford ranger
199  31.0          4           119  ...    82       1       chevy s-10

[5 rows x 9 columns]

### Step 6. Join cars1 and cars2 into a single DataFrame called cars

In [11]:
cars = cars1.append(cars2)
cars.head(5)
cars.tail(5)
#cars.shape

      mpg  cylinders  displacement  ... model  origin              car
195  27.0          4           140  ...    82       1  ford mustang gl
196  44.0          4            97  ...    82       2        vw pickup
197  32.0          4           135  ...    82       1    dodge rampage
198  28.0          4           120  ...    82       1      ford ranger
199  31.0          4           119  ...    82       1       chevy s-10

[5 rows x 9 columns]

### Step 7. Oops, there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

In [12]:
nr_owners = np.random.randint(low = 15000, high = 73001, size = 398, dtype='l') # dtype = long so represented as 'l' , if it is int then we have r=to represent as 'i' 
nr_owners

array([35709, 51932, 54480, 44667, 55331, 47305, 54531, 69031, 49142,
       40967, 58611, 30128, 41079, 27079, 70244, 65928, 17192, 40931,
       22187, 29456, 34204, 57542, 64842, 51459, 23823, 51968, 43473,
       21349, 58711, 53411, 38059, 17220, 26630, 40366, 59134, 47571,
       56169, 18366, 21895, 17430, 28879, 31046, 33641, 36351, 36732,
       29658, 69222, 22521, 45598, 63236, 39358, 42552, 46889, 33109,
       53478, 56604, 55876, 15556, 42380, 46818, 70497, 32984, 64725,
       58953, 59809, 53977, 56637, 71020, 19164, 59511, 32793, 28320,
       31587, 41655, 55052, 40109, 34623, 44353, 53412, 43174, 63172,
       55184, 40357, 63648, 30895, 57654, 20973, 50722, 44867, 18387,
       66319, 63843, 68072, 31621, 47491, 53880, 25666, 39613, 69767,
       48914, 52105, 60960, 32182, 68658, 66751, 61841, 33411, 31903,
       54144, 18024, 23633, 19876, 22310, 67036, 28958, 16729, 30739,
       39880, 38298, 64845, 57704, 53244, 52545, 23848, 20717, 53698,
       64026, 54259, 39812, 30516, 63912, 72559, 38412, 34727, 49004,
       29725, 56049, 52792, 50506, 21865, 27633, 63690, 51626, 59342,
       68968, 70441, 28961, 61758, 42819, 53672, 33338, 62642, 15421,
       62468, 62469, 46570, 20327, 29755, 55712, 46471, 19093, 33931,
       62414, 16375, 67929, 55648, 38274, 48302, 23857, 62549, 18122,
       69639, 42801, 18421, 39009, 38328, 50785, 57501, 51191, 48693,
       51861, 36262, 72531, 66274, 49206, 25966, 34845, 63178, 31667,
       57659, 34347, 72379, 19225, 18156, 22965, 17687, 25452, 35248,
       33963, 40538, 26468, 42339, 22307, 36989, 53195, 63780, 59777,
       24092, 66738, 24400, 65547, 36142, 42815, 46490, 65545, 71881,
       58258, 16183, 63199, 64572, 26557, 62018, 28551, 47401, 35702,
       49125, 68413, 28812, 43384, 53464, 44313, 45147, 63436, 68229,
       32052, 65627, 24176, 50444, 40718, 27357, 49978, 63364, 31689,
       63819, 55926, 62179, 65889, 30976, 39403, 52115, 15294, 33250,
       28680, 61699, 53876, 60228, 18916, 15334, 59173, 63130, 51023,
       46679, 42684, 37951, 21714, 50741, 16950, 19438, 19936, 33018,
       62228, 59228, 64290, 60522, 28500, 22918, 69198, 21052, 52190,
       62777, 27771, 36344, 54573, 20633, 68637, 21344, 28136, 25724,
       47421, 65403, 56928, 32657, 56532, 47848, 48593, 65882, 20331,
       56781, 32603, 42225, 67657, 60602, 16040, 70533, 31947, 17053,
       33744, 25920, 64108, 53874, 43288, 46436, 47181, 49528, 40767,
       63127, 15448, 23231, 18403, 39676, 41328, 66388, 40867, 56171,
       30344, 30702, 70800, 47293, 21720, 65953, 43441, 27224, 37297,
       62935, 54034, 58994, 50590, 38507, 26216, 61411, 16572, 72787,
       51839, 36294, 51342, 36392, 68238, 40031, 46310, 42967, 60793,
       20074, 41224, 34772, 70803, 52148, 68595, 39509, 17315, 39177,
       62387, 45329, 25624, 31144, 53340, 56223, 29700, 47515, 39172,
       47926, 52708, 32836, 61341, 15846, 50819, 32078, 29577, 47551,
       67820, 32150, 50101, 54933, 23370, 44022, 28587, 22586, 40423,
       53334, 45275, 37758, 19968, 68113, 22629, 56441, 36502, 58075,
       21873, 43179])

### Step 8. Add the column owners to cars

In [13]:
cars['owners'] =  nr_owners
cars.tail(5)

      mpg  cylinders  displacement  ... origin              car  owners
195  27.0          4           140  ...      1  ford mustang gl   56441
196  44.0          4            97  ...      2        vw pickup   36502
197  32.0          4           135  ...      1    dodge rampage   58075
198  28.0          4           120  ...      1      ford ranger   21873
199  31.0          4           119  ...      1       chevy s-10   43179

[5 rows x 10 columns]