<a href="https://colab.research.google.com/github/samirlenka/pandas_exercises/blob/master/02_Filtering_%26_Sorting/Chipotle/Exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [2]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
chipo = pd.read_csv(url, sep = '\t')
chipo.head(5)

   order_id  ...  item_price
0         1  ...      $2.39
1         1  ...      $3.39
2         1  ...      $3.39
3         1  ...      $2.39
4         2  ...     $16.98

[5 rows x 5 columns]

### Step 4. How many products cost more than $10.00?

In [ ]:
# clean the item_price column and transform it in a float
#prices = [float(value[1 : -1]) for value in chipo.item_price]
prices
# reassign the column with the cleaned prices
chipo.item_price = prices
chipo.head()

# delete the duplicates in item_name, quantity and choice_description
chipo_filtered = chipo.drop_duplicates(['item_name', 'quantity', 'choice_description'])
chipo_filtered

# select only the products with quantity equals to 1
chipo_one = chipo_filtered[chipo_filtered.quantity == 1]
chipo_one

chipo_one[chipo_one['item_price']>10].item_name.nunique()

#or

#chipo.query('item_price > 10').item_name.nunique()

31

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [15]:
# delete the duplicates in item_name and quantity
# chipo_filtered = chipo.drop_duplicates(['item_name','quantity'])
chipo[(chipo['item_name'] == 'Chicken Bowl') & (chipo['quantity'] == 1)]

# select only the products with quantity equals to 1
# chipo_one_prod = chipo_filtered[chipo_filtered.quantity == 1]

# select only the item_name and item_price columns
# price_per_item = chipo_one_prod[['item_name', 'item_price']]

# sort the values from the most to less expensive
# price_per_item.sort_values(by = "item_price", ascending = False).head(20)

      order_id  ...  item_price
5            3  ...     $10.98
13           7  ...     $11.25
19          10  ...      $8.75
26          13  ...      $8.49
42          20  ...     $11.25
...        ...  ...         ...
4590      1825  ...     $11.25
4591      1825  ...      $8.75
4595      1826  ...      $8.75
4599      1827  ...      $8.75
4604      1828  ...      $8.75

[693 rows x 5 columns]

### Step 6. Sort by the name of the item

In [11]:
#chipo.item_name.sort_values(ascending=False)
#chipo.item_name.sort_values()

# OR

chipo.sort_values(by = "item_name")

      order_id  ...  item_price
3389      1360  ...     $12.98
341        148  ...      $6.49
1849       749  ...      $6.49
1860       754  ...      $6.49
2713      1076  ...      $6.49
...        ...  ...         ...
2384       948  ...      $8.75
781        322  ...      $8.75
2851      1132  ...      $8.49
1699       688  ...     $11.25
1395       567  ...      $8.49

[4622 rows x 5 columns]

### Step 7. What was the quantity of the most expensive item ordered?

In [17]:
chipo.quantity.sort_values(ascending = False).head(1)

# OR

chipo.sort_values(by = 'quantity', ascending = False).head(1)

      order_id  quantity  ... choice_description item_price
3598      1443        15  ...                NaN    $44.25

[1 rows x 5 columns]

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [3]:
chipo.item_name.unique()

chipo_salad =chipo[chipo.item_name == 'Veggie Salad Bowl']
len(chipo_salad)

18

### Step 9. How many times did someone order more than one Canned Soda?

In [6]:
chipo.item_name.unique()
chipo_soda = chipo[(chipo.item_name == 'Canned Soda') & (chipo.quantity>1)]
len(chipo_soda)

20